<div class="container">
  <h1>Tweet Now! 2: Multi-User</h1>
  

  <% if session[:user_id] %>
    Welcome, <%= @t_user.user.name %>!<br/>
    <img src='<%= @t_user.user.profile_image_url %>'>
    <div>
      <p>
        <form method='post' action='/tweet'>
          <input type='text' placeholder='Your Tweet' name='tweet'>
          <input type='submit' value='Send a Tweet'>
        </form>
      </p>
      <div id="spinner"><img src='../images/loader.gif'></div>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
    </div>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>
  
  <% if @job_id %>
    <input type='hidden' id='jid' value='<%= @job_id %>'>
  <% end %>

</div>
